@font-face{
    font-family: "Lora";
    src: url("../font/Lora/Lora-Regular.ttf");
}

@font-face{
    font-family: "Oxygen";
    src: url("../font/Oxygen/Oxygen-Regular.ttf");
}

@font-face{
    font-family: "Roboto";
    src: url("../font/Roboto/Roboto-Regular.ttf");
}