* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    margin: 0;

}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
}

p {
    margin: 0;
}


.container {
    width: 940px;
    margin: 0 auto;
}

header {
    height: 500px;
    background: url("../img/IMAGE.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

    position: relative;

}

/* header-nav */

.nav {
    padding: 20px 0;


}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav-logo {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;


    padding: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    outline: #FFFFFF 0 solid;
    transition: 0.05s;
    margin-right: 10px;
}

.nav-logo:hover {
    color: #FFFFFF;
    outline: #FFFFFF 3px solid;


}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    padding: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    outline: #FFFFFF 0 solid;
    transition: 0.05s;

}

.nav-link:hover {
    color: #FFFFFF;
    outline: #FFFFFF 3px solid;


}


.navbar-nav {
    gap: 10px;
}


/* header-nav */

/* header-intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-top: -20px;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.intro-title {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 3px;
    text-align: center;
    cursor: default;

    color: #FFFFFF;
}

.intro-text {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    cursor: default;


    color: rgba(255, 255, 255, 0.63);
}

.intro-link {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;

    color: #FFFFFF;
    background: #DD783F;
    border-radius: 3px;
    padding: 12px 31px;
    transition: 0.1s;

}

.intro-link:hover {
    color: #FFFFFF;
    background: #756f6b;
}

/* header-intro */

/* main-section */
.section-list {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.section-link {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 10px;

    color: #768088;
    border-radius: 3px;
    transition: 0.1s;

}

.section-link:hover {
    background: #666666;
    color: #ffffff;
}

/* main-section */

/* main-section2 */
.section2 {
    padding: 60px 0 30px;
    background: #F7F7F7;

}

.section2-content {

    position: relative;
}


/* -------------------carousel */
.section2-content .carousel {
    position: static;
    /* overflow: visible; */
}

.section2-content .carousel-control-prev-icon {
    background-image: url("../img/icons/arrow.png");
    transform: rotate(180deg);

}

/* .section2-content .carousel-control-prev {
    transform: translateX(-100%);
} */

.section2-content .carousel-control-next-icon {
    background-image: url("../img/icons/arrow.png");

}

/* .section2-content .carousel-control-next {
    transform: translateX(100%);
} */


.carousel-item {}

/* -------------------carousel */

.section2-title {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;

    color: #2E2E2E;
    padding: 0 16px 16px;
    margin-bottom: 23px;
}

.section2-img {
    /* width: 49%; */
    height: 280px;
    position: relative;
    border-radius: 3px;
}

.section2-img-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2-img-words {
    position: absolute;
    bottom: 47px;
    left: 20px;
}

.section2-img-title {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 30px;

    color: #FFFFFF;

}

.section2-img-text {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);

}

.section2-img-profile {
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.section2-img-profile-ava {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;

}

.section2-img-profile-name {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.section2-img-data {
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.section2-img-category {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;

    color: #FFFFFF;
    padding: 6px 9px;
    background: #DD783F;
    border-radius: 2px;

}

/* main-section2 */

/* main-section3 */
.section3 {
    padding: 60px 0 108px;
    background: #F7F7F7;
}

.section3-title {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    text-align: center;

    color: #2E2E2E;
    padding: 0 16px 16px;
    margin-bottom: 23px;
}


.section3-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.section3-content.page .section3-card:first-of-type {
    grid-column: 1/3;
}

.section3-content.page .section3-card:nth-of-type(2) {
    grid-column: 3/4;
    grid-row: 1/3;
}

.section3-content.page .section3-card:nth-of-type(2) .section3-card-main {
    height: 60%;
}



.section3-card {
    background: #FFFFFF;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10px; */
    margin: 0;
}

.section3-card-main {
    position: relative;
    display: flex;
    flex-direction: column;

}

.section3-card-category {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 9px;
    background: #DD783F;
    border-radius: 2px;
}

.section3-card-img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.section3-card-title {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    margin: 5px 10px;
}

.section3-card-text {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    margin: 5px 10px;


}

.section3-card-info {
    background: #FCFCFC;
    border-radius: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}

.section3-card-info-left {
    display: flex;
    align-items: center;
}

.section3-card-info-left-ava {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
}

.section3-card-info-name {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
    margin-left: 5px;


}

.section3-card-info-data {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

/* main-section3 */

/* pages */

.pagination {
    flex-wrap: wrap;
}

.pages-pagination {
    margin-top: 30px;
}

.pages-pagination .page-link {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}


.pages-pagination .page-item.disabled .page-link {
    background: rgba(97, 97, 97, 0.699);
    color: #101315;
}


/* pages */





/* footer */
footer {
    background: url("../img/IMAGE (8).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-intro {
    padding: 50px 0;
}

.footer-intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-intro-title {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    cursor: default;

    color: #EFEFEF;
}

.footer-intro-title::after {
    content: "";
    width: 188px;
    height: 1px;
    display: block;
    margin: 17px 0 20px;

    background: #DEDEDE;
}

.footer-intro-bottom {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-intro-search {
    height: 100%;
    background: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    outline: none;
    border: none;
    padding: 18px 35px;

    color: black;
}

.footer-intro-search::placeholder {
    color: #817F83;
}

.footer-intro-button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #F8F8F8;
    padding: 18px 43px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    border: none;
    transition: 0.1s;

}

.footer-intro-button:hover {
    background: rgb(36, 36, 36);
}

.footer-nav {
    height: 89px;
    background: rgba(35, 47, 56, 0.6);
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.footer-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 10px;
}

.footer-nav-title {
    font-family: Lora;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
    padding: 5px;

    transition: 0.05s;
    outline: #FFFFFF solid 0;
    border-radius: 3px;
}

.footer-nav-title:hover {
    color: #FFFFFF;
    outline: #FFFFFF solid 3px;
}

.footer-nav-link {
    font-family: Oxygen;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px;

    color: rgba(255, 255, 255, 0.6);
    transition: 0.05s;
    outline: rgba(255, 255, 255, 0.6) solid 0;
    border-radius: 3px;
}

.footer-nav-link:hover {
    color: rgba(255, 255, 255, 0.6);
    outline: rgba(255, 255, 255, 0.6) solid 3px;
}

.footer-nav-list {
    display: flex;
    gap: 20px;
}



/* footer */